flows.json
[{"id":"a7f5803f.eb2a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"a7f5803f.eb2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":120,"wires":[]},{"id":"33b2afb8.991bf","type":"watson-conversation-v1","z":"a7f5803f.eb2a","name":"Customer Care","workspaceid":"02d314fc-7497-4e4a-a618-8c798643f58f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a6ec7aac-cf8c-48bb-96fe-e96e56ea88ed/v1/workspaces/02d314fc-7497-4e4a-a618-8c798643f58f/message","timeout":"","optout-learning":false,"x":480,"y":260,"wires":[["9627b217.5ae8"]]},{"id":"29d5e528.c2294a","type":"function","z":"a7f5803f.eb2a","name":"Input_function","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":260,"wires":[["33b2afb8.991bf","23b31ea6.2638d2"]]},{"id":"5ead9275.60f56c","type":"ui_form","z":"a7f5803f.eb2a","name":"","label":"","group":"f4fb2e27.51cff","order":6,"width":0,"height":0,"options":[{"label":"Intelligent customer help desk","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":380,"wires":[["29d5e528.c2294a"]]},{"id":"9627b217.5ae8","type":"function","z":"a7f5803f.eb2a","name":"Output_function","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":260,"wires":[["1f32df.4d26ed22","f2f2649a.0d0d98"]]},{"id":"1f32df.4d26ed22","type":"ui_text","z":"a7f5803f.eb2a","group":"f4fb2e27.51cff","order":3,"width":"0","height":"0","name":"","label":"Result","format":"{{msg.payload}}","layout":"col-center","x":910,"y":360,"wires":[]},{"id":"23b31ea6.2638d2","type":"ui_text","z":"a7f5803f.eb2a","group":"f4fb2e27.51cff","order":1,"width":0,"height":0,"name":"","label":"Input","format":"{{msg.payload}}","layout":"col-center","x":370,"y":380,"wires":[]},{"id":"886c2c99.9446b","type":"inject","z":"a7f5803f.eb2a","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":140,"wires":[["33b2afb8.991bf"]]},{"id":"f4fb2e27.51cff","type":"ui_group","z":"","name":"Customer Help Desk","tab":"2f5b50f.1d5f9b","order":1,"disp":true,"width":"8","collapse":false},{"id":"2f5b50f.1d5f9b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]